<% unless bookmarks.nil? || bookmarks.empty? %>
  <% bookmarks.each do |bookmark| %>
    <div class="well">
        <h4><%= bookmark.title %></h4>
        <p>URL: <%= link_to bookmark.url.html_safe, url_with_protocol(bookmark.url.html_safe), target: '_blank' %></p>
        <%= link_to "View", bookmarks_path(bookmark), class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>
