<h1>Bookmarks</h1>
<% @bookmarks.each do |bookmark| %>
<div class="well">
    <h3><%= bookmark.title %></h3>
    <p>
        <%= bookmark.url %><br/>
        <%= bookmark.shortening %>
    </p>
</div>
<% end %>