<h1>Bookmarks</h1>
<% @bookmarks.each do |bookmark| %>
<div class="well">
    <h3><%= bookmark.title %></h3>
    <p>
        URL: <%= link_to bookmark.url.html_safe %><br/>
        Short: <%= bookmark.shortening %>
    </p>
</div>
<% end %>